{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>

</head>

<body class="hero_area">
  

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-lg-2 col-md-10 offset-md-1">
          <div class="heading_container">
            <hr>
            <h2>
              User SignUp
            </h2>
          </div>
        </div>
      </div>

      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 col-md-5 offset-md-1">
            {% if msg %}
              <b style="color:blue">{{msg}}</b>
            {% endif %}
            <form method="post" action="{% url 'signup' %}">
              {% csrf_token %}
              <div class="contact_form-container">
                <div>
                  <div>
                    <select name="usertype">
                      <option>---Select User Type---</option>
                      <option value="user">User</option>
                      <option value="seller">Seller</option>
                    </select>
                  </div>
                  <div>
                    <input type="text" placeholder="First Name" name="fname"/>
                  </div>
                  <div>
                    <input type="text" placeholder="Last Name" name="lname"/>
                  </div>
                  <div>
                    <input type="text" placeholder="Email" name="email"/>
                  </div>
                  <div>
                    <input type="text" placeholder="Mobile" name="mobile"/>
                  </div>
                  <div>
                    <input type="text" placeholder="Address" name="address"/>
                  </div>
                  <div>
                    <input type="password" placeholder="Password" name="password"/>
                  </div>
                 <div>
                    <input type="password" placeholder="Confirm Password" name="cpassword"/>
                  </div>
                  <div>
                    <button type="submit">
                      Sign Up
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_logo">
        <h2>
          NiNom
        </h2>
      </div>
      <div class="info_contact">
        <div class="row">
          <div class="col-md-4">
            <a href="">
              <img src="images/location.png" alt="">
              <span>
                Passages of Lorem Ipsum available
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <img src="images/call.png" alt="">
              <span>
                Call : +012334567890
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <img src="images/mail.png" alt="">
              <span>
                demo@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <div class="info_form">
            <form action="">
              <input type="text" placeholder="Enter your email">
              <button>
                subscribe
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="info_social">
            <div>
              <a href="">
                <img src="images/facebook-logo-button.png" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="images/twitter-logo-button.png" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="images/linkedin.png" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="images/instagram.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- end info section -->

</body>

</html>
{% endblock %}